.forecast-info {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.day-weather {
    display: flex;
    min-width: 250px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in;
}

.weather-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}


.weather-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp-interval {
    margin-right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.min-temp {
    color: brown;
}

.max-temp {
    color: green;
}

.city-info {
    width: 100%;
    text-align: center;

}

.location-icon {

    display: inline-block;
    margin-right: 1rem;
    border-radius: 1px;
}

.location-icon path {
    fill: white;
}


.day-weather:hover {
    transform: scale(1.1);
}