.forecast-info {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.day-weather {
    display: flex;
    min-width: 150px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

}

.city-info {
    text-align: center;
}

.location-icon {

    display: inline-block;
    margin-right: 1rem;
    border-radius: 1px;
}

.location-icon path {
    fill: white;
}