.main-content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.hour-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: 250px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.nav-bar {
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}